body {
    background-color: #f5f5f5;
    color: #bf94e4;
}

.rutgers-red {
    color: #CC0033 !important;
}
.bod {
    padding-top: 6%;
}

@font-face {
    font-family: 'shalma';
    src: url('fonts/LoftygoalsRegular-9Y5Xy.otf');
}

.shalma {
    font-family: 'shalma';
}

@font-face {
    font-family: 'thornrock';
    src: url('fonts/ThornrockRegular-8OAWB.ttf');
}

.thornrock {
    font-family: 'thornrock';
}

/* navbar start*/
.navbar, .offcanvas-header, .offcanvas-body {
    background-color: #555555;
}

.dropdown-menu {
    border: 5px solid #bf94e4;
    --bs-dropdown-link-active-bg: #bf94e4;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #bf94e4;
}

.nav-link:active {
    color: #bf94e4;
}

.navbar-nav .nav-link.show {
    color: #bf94e4;
}

/* navbar end */

/* title start */
.title-info {
    background-color: #555555;
    border-radius: 10%;
    border: 2px solid #bf94e4;
    color: white !important;
    width: fit-content;
    height: fit-content;
    padding: 2%;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    margin: 0;
    letter-spacing: 0.5px;
}

.img-title {
    border: 2px solid #bf94e4;
    border-radius: 60%;
}
/* title end */

/* rutgers start */
.rutty-info {
    background-color: #CC0033;
    border: 3px solid black;
    color: white;
        width: fit-content;
        height: fit-content;
        padding: 2%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
}
/* rutgers end */

.menu-nav-btn {
    background-color: #555555;
    border: 5px solid #bf94e4;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    padding: 5px;
    transition: transform 0.3s;
    margin: 0 auto;
}

.menu-nav-btn:hover {
    transform: scale(1.05);
}

.menu-nav-btn img {
    max-width: 50%;
    height: auto;
}

.menu-nav-btn h4 {
    font-size: 0.90rem;
    margin-top: 5px;
    color: white;
    text-align: center;
    line-height: 1.1;
    font-weight: 600;
}

@media (max-width: 768px) {
    .menu-nav-btn {
        width: 80px;
        height: 80px;
    }

    .menu-nav-btn h4 {
        font-size: 0.5rem;
    }
}

.logo-circle {
    width: 300px;
    /* or whatever size you need */
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}